body {
  background-image: url("img/bodyBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

#border {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#rightUp {
  background-image: url("img/term.png");
  background-size: 100%;
}

#term {
  font-family: monospace;
  color: white;
  font-size: 12;
}

#yellow {
  color: yellow;
}

#red {
  color: red;
}

#green {
  color: green;
}