body {
  background-image: url("bodyBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#border {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
